<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Система учета пациентов родильного дома</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-4">
  <header class="d-flex justify-content-between align-items-center mb-4">
    <div>

      <form action="/mainPage" method="get">
        <button type="submit" class="btn btn-primary" >Пациентки</button>
      </form>

      <form action="/childPage" method="get">
        <button type="submit" class="btn btn-primary" >Дети</button>
      </form>

      <form action="/wardPage" method="get">
        <button type="submit" class="btn btn-primary" >Палаты</button>
      </form>

      <form action="/hospPage" method="get">
        <button type="submit" class="btn btn-primary" >Госпитализации</button>
      </form>

      <form action="/childbPage" method="get">
        <button type="submit" class="btn btn-primary" >Роды</button>
      </form>

      <form action="/employeePage" method="get">
        <button type="submit" class="btn btn-primary" >Сотрудники</button>
      </form>




    </div>
    <div>
      <form action="/report1" method="get" class="d-inline">
        <button type="submit" class="btn btn-secondary">Отчет 1</button>
      </form>
      <form action="/report2" method="get" class="d-inline">
        <button type="submit" class="btn btn-secondary">Отчет 2</button>
      </form>
      <form action="/report3" method="get" class="d-inline">
        <button type="submit" class="btn btn-secondary">Отчет 3</button>
      </form>
      <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editAddModal">Добавить</button>
    </div>
  </header>

  <div id="hospDiv" class="data-div">
    <h3>Список Госпитализаций</h3>
    <ul class="list-group">
      <li th:each="item : ${hospitalizations}" class="list-group-item d-flex justify-content-between align-items-center">
        <span th:text="'Пациент: ' + ${item.patient.first_name} + ' ' + ${item.patient.middle_name} + ' ' + ${item.patient.last_name}">Имя пациентки</span>
        <span th:text="'Дата: ' + ${item.hosp_data}">Дата госпитализации</span>
        <span th:text="'Время: ' + ${item.hosp_time}">Время госпитализации</span>
        <span th:text="' Причина: ' + ${item.hosp_reason}">Причина госпитализации</span>
        <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editHospModal"
                th:data-id="${item.id}"
                th:data-patient-name="${item.patient.first_name} + ' ' + ${item.patient.middle_name} + ' ' + ${item.patient.last_name}"
                th:data-patient-id="${item.patient.id}"
                th:data-hosp-data="${item.hosp_data}"
                th:data-hosp-time="${item.hosp_time}"
                th:data-hosp-reason="${item.hosp_reason}">Редактировать</button>
      </li>
      <li th:if="${#lists.isEmpty(hospitalizations)}" class="list-group-item">Данных нет</li>
    </ul>
  </div>


  <!-- Модальное окно для редактирования госпитализаций -->
  <div class="modal fade" id="editHospModal" tabindex="-1" role="dialog" aria-labelledby="editHospModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editHospModalLabel">Редактировать госпитализацию</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editHospForm" action="/addHosp" method="post">
            <div class="form-group">
              <label for="hospPatientId">Пациент</label>
              <input type="text" class="form-control" id="hospPatientId" name="patientId" required>
            </div>
            <div class="form-group">
              <label for="hospData">Дата</label>
              <input type="date" class="form-control" id="hospData" name="hospData" required>
            </div>
            <div class="form-group">
              <label for="hospTime">Время</label>
              <input type="time" class="form-control" id="hospTime" name="hospTime" required>
            </div>
            <div class="form-group">
              <label for="hospReason">Причина</label>
              <input type="text" class="form-control" id="hospReason" name="hospReason" required>
            </div>
            <input type="hidden" id="hospId" name="id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary" form="editHospForm">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Модальное окно для ДОБАВЛЕНИЯ госпитализаций -->
  <div class="modal fade" id="editAddModal" tabindex="-1" role="dialog" aria-labelledby="editHospModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Редактировать госпитализацию</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/modifyHosp" method="post">
            <div class="form-group">
              <label for="hospPatientId">Пациент</label>
              <input type="text" class="form-control" name="patientId" required readonly>
            </div>
            <div class="form-group">
              <label for="hospData">Дата</label>
              <input type="date" class="form-control" name="hospData" required>
            </div>
            <div class="form-group">
              <label for="hospTime">Время</label>
              <input type="time" class="form-control" name="hospTime" required>
            </div>
            <div class="form-group">
              <label for="hospReason">Причина</label>
              <input type="text" class="form-control" name="hospReason" required>
            </div>
            <input type="hidden" name="id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary" form="editHospForm">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  // Обработчики для открытия модальных окон с заполнением данных
  $('#editHospModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var patientName = button.data('patient-name');
    var patientId = button.data('patient-id');
    var hospData = button.data('hosp-data');
    var hospTime = button.data('hosp-time');
    var hospReason = button.data('hosp-reason');
    var id = button.data('id');

    var modal = $(this);
    modal.find('.modal-title').text('Редактировать госпитализацию для ' + patientName);
    modal.find('#hospPatientId').val(patientId);
    modal.find('#hospData').val(hospData);
    modal.find('#hospTime').val(hospTime);
    modal.find('#hospReason').val(hospReason);
    modal.find('#hospId').val(id);
  });

  $('#editAddModal').on('show.bs.modal', function (event) {
    var modal = $(this);
  });


</script>

</body>
</html>